<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}"
	layout:fragment="Content">
<head>
<link th:href="@{/css/order.css}" rel="stylesheet">
    <!-- https://github.com/nhn/tui.grid/blob/master/packages/toast-ui.grid/examples/example08-date-picker.html -->
  <style>
   body {
            background-color: #e9ecef;
        }
  #startpicker-container1,#endpicker-container1,#startpicker-container2,#endpicker-container2{
         position: relative;
 		 z-index: 9999;
    }
    .order-select1{
       display: inline;
	   width: 20%;
	   margin-right:10px;
    }
    .order-search1{
       display: inline;
	   width: 17%;
	   margin-right:20px;
    }
    .search {
            width:60%;
            padding: 20px;
            background-color: #f8f9fa;
            border-radius: 5px;
            box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.1);
            margin-bottom:30px;
        }
    .search1 {
            padding: 20px;
            background-color: #f8f9fa;
            border-radius: 5px;
            box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.1);
        	margin-bottom: 2%;
        }
        .search h3 {
            margin-bottom: 20px;
        }
      .data-picker-end{
          margin-right : 40%
      }
      #searchBtn{
         width:10%;
         margin-left:6%
      }
  </style>
  </head>
<body>
 
   
		<h1 class="fw-bold py-1 mb-4 text-muted fw-light">주문조회</h1>
		<div class="search">
		<h3 class="fw-bold py-1 mb-4 text-dark fw-light">검색조건</h3>
     <p class="fw-bold text-dark fw-light" style="display:inline-block; width: 100px;">주문등록일자</p>
    <div class="tui-datepicker-input tui-datetime-input tui-has-focus">
        <input id="startpicker-input1" type="text" aria-label="Date">
        <span class="tui-ico-date"></span>
        <div id="startpicker-container1"></div>
    </div>
    <span>~</span>
    <div class="tui-datepicker-input tui-datetime-input tui-has-focus data-picker-end">
        <input id="endpicker-input1" type="text" aria-label="Date">
        <span class="tui-ico-date"></span>
        <div id="endpicker-container1"></div>
    </div>
     <p class="fw-bold text-dark fw-light" style="display:inline-block; width: 100px;">입고일자</p>
    <div class="tui-datepicker-input tui-datetime-input tui-has-focus">
        <input id="startpicker-input2" type="text" aria-label="Date">
        <span class="tui-ico-date"></span>
        <div id="startpicker-container2" style="margin-left: -1px;"></div>
    </div>
    <span>~</span>
    <div class="tui-datepicker-input tui-datetime-input tui-has-focus data-picker-end">
        <input id="endpicker-input2" type="text" aria-label="Date">
        <span class="tui-ico-date"></span>
        <div id="endpicker-container2" style="margin-left: -1px;"></div>
    </div>
            <div class="row">
                         <select class="form-select order-select1"
							aria-label="Default select example" id=orderSelect1>
							<option selected value="orderCode">주문코드</option>
							<option value="orderName">주문명</option>
							<option value="clientName">업체명</option>
						</select> 
						<input class="form-control order-search1" type="search"
							placeholder="검색" aria-label="Search" id="searchOrder1">
     
           
                         <select class="form-select order-select1"
							aria-label="Default select example" id=orderSelect2>
							<option selected value="prodName">제품명</option>
							<option value="processStatus">주문상태</option>
							<option value="empName">담당자</option>
						</select> 
						<input class="form-control order-search1" type="search"
							placeholder="검색" aria-label="Search" id="searchOrder2">
   
      
        <button class="btn btn-outline-primary float-end" type="button" id="searchBtn">검색</button>
				</div>		
     </div>
		  <div class="search1">
		   <button class="btn btn-outline-success float-end" type="button" id="excel">XLSX</button>
		  <h3 class="fw-bold py-1 mb-4 text-dark fw-light">주문목록</h3>
		   <div class="row orderCallTable">
			   <div class="col-12">
				    <div id="grid1"></div>
			   </div>
			</div>
			</div>
	
</body>
<script th:inline="javascript">
var today = new Date();
var picker1 = tui.DatePicker.createRangePicker({
    startpicker: {
        input: '#startpicker-input1',
        container: '#startpicker-container1'
    },
    endpicker: {
        input: '#endpicker-input1',
        container: '#endpicker-container1'
    },
    format: 'YYYY-MM-dd',
});

var picker2 = tui.DatePicker.createRangePicker({
    startpicker: {
        input: '#startpicker-input2',
        container: '#startpicker-container2'
    },
    endpicker: {
        input: '#endpicker-input2',
        container: '#endpicker-container2'
    },
    format: 'YYYY-MM-dd',
});
const grid1 = new tui.Grid({
        el: document.getElementById('grid1'),
        scrollX: false,
        scrollY: false,
        pageOptions: {
            perPage: 10,
            useClient: true,
        },
        rowHeaders: [
    	    { type: 'rowNum', align: 'center'},
    	  ],
        columns: [
            { header: '주문코드', name: 'orderCode',align:'center'},
            { header: '주문명', name: 'orderName'},
            { header: '제품명', name: 'prodName'},
            { header: '업체명', name: 'clientName'},
            { header: '주문일자', name: 'registrationDate',align:'center'},
            { header: '입고일자', name: 'dueDate',align:'center'},
            { header: '주문상태', name: 'processStatus',align:'center',renderer:{
          	  styles:{
        		  backgroundColor:(props) => props.value == '요청'?  'rgba(252, 240, 3)' 
        		  : props.value == '처리중'?  'rgba(252, 3, 45)' 	  
        		  : props.value == '처리완료'?  'rgba(3, 252, 65)':'',
        			fontSize :'14px',
              	    fontFamily: 'Malgun Gothic',
              	    fontWeight: 'bold'
        	  }
          }},
            { header: '주문량', name: 'orderQuantity',align:'right',
        	  formatter: function(price){
               	  return priceFormat(price.value)+'개';
                 },
               },
            { header: '미입고량', name: 'noSend', align:'right',
               formatter: function(price){
                     return priceFormat(price.value)+'개';
                  },
               },
            { header: '총금액', name: 'totalPrice', align:'right',
                  formatter: function(price){
                        return priceFormat(price.value)+'원';
                            },
                            
              },
            ],
    });
//===================================================================================
function orderDetailList(orderCode='',orderName='',prodName='',clientName='',empName='',processStatus='',
		                 registrationDate1='',registrationDate2='',dueDate1='',dueDate2='') {
    $.ajax({
        url: "/order/detailList",
        method: "GET",
        data: {
        	orderCode: orderCode,
        	orderName: orderName,
        	prodName: prodName,
        	clientName:clientName,
        	empName:empName,
        	registrationDate1:registrationDate1,
        	registrationDate2:registrationDate2,
        	dueDate1:dueDate1,
        	dueDate2:dueDate2,
        	processStatus:processStatus
        },
        success: function(result) {
        	grid1.resetData(result);
        },
        error: function(error) {
            console.error('AJAX 요청 실패:', error);
        }
    });
}
$('#searchBtn').on('click', function(){
    let orderCode = '';
    let orderName = '';
    let prodName = '';
    let clientName = '';
    let empName='';
    let processStatus=''
    let optionSelect1 = $('#orderSelect1 :selected').val();
    let optionSelect2 = $('#orderSelect2 :selected').val();
    let registrationDate1 = $('#startpicker-input1').val();
    let registrationDate2 = $('#endpicker-input1').val();
    let dueDate1 = $('#startpicker-input2').val();
    let dueDate2 = $('#endpicker-input2').val();
    if(optionSelect1 == 'orderCode'){
        orderCode = $('#searchOrder1').val();
    } else if(optionSelect1 == 'orderName'){
        orderName = $('#searchOrder1').val();
    } else if(optionSelect1 == 'clientName'){
        clientName = $('#searchOrder1').val();
    }
    if(optionSelect2=='prodName'){
    	prodName = $('#searchOrder2').val();
    } else if(optionSelect1=='processStatus'){
    	processStatus = $('#searchOrder2').val();
    } else if(optionSelect1=='empName'){
    	empName = $('#searchOrder2').val();
    }
    orderDetailList(orderCode, orderName, prodName,clientName,empName,
    		        processStatus,registrationDate1,registrationDate2,
    		        dueDate1,dueDate2);
    $('#searchOrder').val('');
});
//엑셀 다운로드.
const topOptions = {
			  includeHiddenColumns: true,
			  onlySelected: false,
			  fileName: '주문 정보 조회',
			};
$('#excel').on('click',function(){
	grid1.export('xlsx',topOptions);
})
//금액 포맷 함수('#,###')
 function priceFormat(price) {
 	if(price == null){
 		return '0';
 	}
 	let result = price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
 	return result;
 }
orderDetailList();
</script>
</html>