<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{common/layouts/default_layout}" layout:fragment="Content">

<head>
  <link th:href="@{/css/order.css}" rel="stylesheet">
  <!-- https://github.com/nhn/tui.grid/blob/master/packages/toast-ui.grid/examples/example08-date-picker.html -->
  <style>
    body {
      background-color: #e9ecef;
    }

    .order-select1 {
      display: inline;
      width: 20%;
      margin-right: 10px;
    }

    .order-search1 {
      display: inline;
      width: 60%;
      margin-right: 20px;
    }

    /* .searchBtn {
      float: none;
    } */

    .search {
      width: 40%;
      padding: 10px;
      background-color: #f8f9fa;
      border-radius: 5px;
      box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.1);
      margin-bottom: 30px;
    }

    .search1 {
      padding: 20px;
      background-color: #f8f9fa;
      border-radius: 5px;
      box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.1);
      margin-bottom: 2%;
    }

    .search h3 {
      margin-bottom: 20px;
    }

    .tui-datepicker-input.tui-datetime-input.tui-has-focus.b {
      z-index: 100;
    }

    .tui-datepicker-input.tui-datetime-input.tui-has-focus.a {
      z-index: 150;
    }
  </style>
</head>

<body>
  <h1 class="fw-bold py-1 mt-1 mb-4">작업 지시 상세 조회</h1>
  <div>
    <div class="search">
      <h3 class="fw-bold py-1 mb-4 text-dark fw-light">검색조건</h3>
      <div id="searchMenu">
        <div id="startDate">
          <p class="fw-bold text-dark fw-light" style="display:inline-block; width: 100px;">생산시작일자</p>
          <div class="tui-datepicker-input tui-datetime-input tui-has-focus a">
            <input id="startpicker-input1" type="text" aria-label="Date">
            <span class="tui-ico-date"></span>
            <div id="startpicker-container1"></div>
          </div>
          <span>~</span>
          <div class="tui-datepicker-input tui-datetime-input tui-has-focus a">
            <input id="endpicker-input1" type="text" aria-label="Date">
            <span class="tui-ico-date"></span>
            <div id="endpicker-container1"></div>
          </div>
        </div>
        <div id="endDate">
          <p class="fw-bold text-dark fw-light" style="display:inline-block; width: 100px;">생산종료일자</p>
          <div class="tui-datepicker-input tui-datetime-input tui-has-focus b">
            <input id="startpicker-input2" type="text" aria-label="Date">
            <span class="tui-ico-date"></span>
            <div id="startpicker-container2" style="margin-left: -1px;"></div>
          </div>
          <span>~</span>
          <div class="tui-datepicker-input tui-datetime-input tui-has-focus b">
            <input id="endpicker-input2" type="text" aria-label="Date">
            <span class="tui-ico-date"></span>
            <div id="endpicker-container2" style="margin-left: -1px;"></div>
          </div>
        </div>
        <div>
          <select class="form-select order-select1" aria-label="Default select example" id="nameSelect">
            <option selected value="a.work_name">지시명</option>
            <option value="d.plan_name">계획명</option>
            <option value="f.order_name">주문명</option>
          </select>
          <input class="form-control order-search1" type="search" placeholder="검색" aria-label="Search" id="searchName">
        </div>
        <p></p>
        <div>
          <select class="form-select order-select1" aria-label="Default select example" id="empSelect">
            <option selected value="emp_name">이름</option>
            <option value="dept_id">부서</option>
            <option value="rank">직급</option>
          </select>
          <input class="form-control order-search1" type="search" placeholder="검색" aria-label="Search" id="searchEmp">
          <button class="btn btn-outline-primary searchBtn" type="button" id="searchBtn">검색</button>
        </div>
      </div>
      <!-- ================================================= -->
    </div>
    <br>
    <!-- ===================================================== -->
    <div class="search1">
      <h3 class="fw-bold py-1 mb-4 text-dark fw-light">작업지시 상세 목록</h3>
      <div class="row orderCallTable">
        <div class="col-12">
          <div id="grid1"></div>
        </div>
      </div>
    </div>
  </div>
</body>
<script th:inline="javascript">
  //================================================================================
  const ndate = new Date();
  const year = ndate.getFullYear();
  const month = (ndate.getMonth() + 1).toString().padStart(2, '0');
  const day = ndate.getDate().toString().padStart(2, '0');
  const today = `${year}-${month}-${day}`;
  function dateformatter(date1) {
    let date = new Date(date1);
    let year1 = date.getFullYear();
    let month1 = (date.getMonth() + 1).toString().padStart(2, '0');
    let day1 = date.getDate().toString().padStart(2, '0');
    let result = `${year1}-${month1}-${day1}`;
    return result;
  }
  let pList = [];
  const token = $("meta[name='_csrf']").attr("content")
  const header = $("meta[name='_csrf_header']").attr("content");

  var picker1 = tui.DatePicker.createRangePicker({
    startpicker: {
      input: '#startpicker-input1',
      container: '#startpicker-container1'
    },
    endpicker: {
      input: '#endpicker-input1',
      container: '#endpicker-container1'
    },
    format: 'YYYY-MM-dd',
  });
  var picker2 = tui.DatePicker.createRangePicker({
    startpicker: {
      input: '#startpicker-input2',
      container: '#startpicker-container2'
    },
    endpicker: {
      input: '#endpicker-input2',
      container: '#endpicker-container2'
    },
    format: 'YYYY-MM-dd',
  });
  dateReset();
  function dateReset() {
    picker1.setStartDate(null);
    picker1.setEndDate(null);
    picker2.setStartDate(null);
    picker2.setEndDate(null);
  }
  picker1.on('change:end', () => {
    console.log(123);
  })
  const grid1 = new tui.Grid({
    el: document.getElementById('grid1'),
    scrollX: false,
    scrollY: true,
    minBodyHeight: 400,
    rowHeaders: [
      { type: 'rowNum', align: 'center' },
    ],
    columns: [
      {
        header: '지시코드',
        name: 'workInstructCode',
        align: 'center',
        width: '110',
        sortable: true,
      },
      {
        header: '지시명',
        name: 'workName',
        align: 'center',
        sortable: true,
      },
      {
        header: '계획명',
        name: 'planName',
        align: 'center',
        sortable: true,
      },
      {
        header: '주문명',
        name: 'orderName',
        align: 'center',
        sortable: true,
      },
      {
        header: '지시등록일',
        name: 'registrationDate',
        align: 'center',
        width: '90'
      },
      {
        header: '지시시작일',
        name: 'manuStartDate',
        align: 'center',
        width: '90'
      },
      {
        header: '지시종료일',
        name: 'manuEndDate',
        align: 'center',
        width: '90'
      },
      {
        header: '지시자',
        name: 'empName',
        align: 'center',
        width: '80',
        sortable: true,
      },
      {
        header: '제품명',
        name: 'prodName',
        align: 'center',
        width: '90',
        sortable: true,
      },
      {
        header: '우선순위',
        name: 'priority',
        align: 'center',
        width: '80'
      },
      {
        header: '지시량',
        name: 'instructQuantity',
        align: 'right',
        width: '60'
      },
      {
        header: '단위',
        name: 'unit',
        align: 'center',
        width: 'auto'
      },
      {
        header: '상태',
        name: 'processStatus',
        align: 'center',
        renderer: {
          styles: {
            backgroundColor: (props) => props.value == '요청' ? 'rgba(252, 240, 3)'
              : props.value == '처리중' ? 'rgba(252, 3, 45)'
                : props.value == '처리완료' ? 'rgba(3, 252, 65)' : '',
            fontSize: '15px',
            fontFamily: 'Malgun Gothic',
            fontWeight: 'bold'
          }
        },
        width: '80',
        sortable: true,
      },
      {
        header: '지시상세코드',
        name: 'workInstructDetailCode'
      },
      {
        header: '지시자코드',
        name: 'empCode'
      }

    ],
    pageOptions: {
      useClient: true,
      perPage: 10
    }
    , columnOptions: {
      resizable: true
    }
  });
  grid1.hideColumn("workInstructDetailCode");
  grid1.hideColumn("empCode");
  //작업지시상세를 불러와 테이블에 넣는 비동기처리 함수.
  async function getWorkDetailList(search1, keyword1, search2, keyword2, startDate1, endDate1, startDate2, endDate2) {
    if (startDate1 != null) {
      startDate1 = dateformatter(startDate1);
    }
    if (startDate2 != null) {
      startDate2 = dateformatter(startDate2);
    }
    if (endDate1 != null) {
      endDate1 = dateformatter(endDate1);
    }
    if (endDate2 != null) {
      endDate2 = dateformatter(endDate2);
    }
    await fetch(`/workInstructDetailList?search1=${search1}&keyword1=${keyword1}&search2=${search2}&keyword2=${keyword2}&startDate1=${startDate1}&endDate1=${endDate1}&startDate2=${startDate2}&endDate2=${endDate2}`)
      .then(res => res.json())
      .then(res => {
        for (let obj of res) {
          obj.registrationDate = obj.registrationDate.substr(0, 10);
        }
        grid1.resetData(res);
      })
  };
  getWorkDetailList('work_Instruct_Detail_Code', '%', 'work_Instruct_Detail_Code', '%', null, null, null, null)
  $('#searchBtn').on('click', (e) => {
    let search1 = $('#nameSelect option:selected').val()
    let keyword1 = $('#searchName').val()
    let search2 = $('#empSelect option:selected').val()
    let keyword2 = $('#searchEmp').val()
    let startDate1 = picker1.getStartDate()
    let endDate1 = picker1.getEndDate()
    let startDate2 = picker2.getStartDate()
    let endDate2 = picker2.getEndDate()

    getWorkDetailList(search1, keyword1, search2, keyword2, startDate1, endDate1, startDate2, endDate2);
  })
  $('#searchMenu').on('keyup', (e) => {
    if (e.keyCode == 13) {
      let search1 = $('#nameSelect option:selected').val()
      let keyword1 = $('#searchName').val()
      let search2 = $('#empSelect option:selected').val()
      let keyword2 = $('#searchEmp').val()
      let startDate1 = picker1.getStartDate()
      let endDate1 = picker1.getEndDate()
      let startDate2 = picker2.getStartDate()
      let endDate2 = picker2.getEndDate()

      getWorkDetailList(search1, keyword1, search2, keyword2, startDate1, endDate1, startDate2, endDate2);
    }
  });
  //===================================================================================

</script>

</html>